<div *ngIf="!deal" id="nb-global-spinner" class="spinner">
    <div class="blob blob-0"></div>
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
    <div class="blob blob-4"></div>
    <div class="blob blob-5"></div>
</div>

<div *ngIf="deal">
    <h2>
        {{ deal.short_title }}
    </h2>
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">

            <mat-card class="product-image">
                <button mat-icon-button (click)="openZoomViewer()" fxHide="false" fxHide.gt-md>
                    <mat-icon>fullscreen</mat-icon>
                </button>
                <img *ngIf="image" [src]="image" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)" />
            </mat-card>

            <div class="small-carousel">
                <div class="swiper-container" [swiper]="config">
                    <div class="swiper-wrapper">
                        <div *ngFor="let slide of slides" class="swiper-slide">
                            <mat-card (click)="selectImage(slide.image)" class="p-1">
                                <img [attr.data-src]="slide.image" class="swiper-lazy" />
                                <div class="swiper-lazy-preloader"></div>
                            </mat-card>
                        </div>
                    </div>
                    <button mat-icon-button class="swiper-button-prev swipe-arrow">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <button mat-icon-button class="swiper-button-next swipe-arrow">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>

        </div>
        <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" ngClass.gt-sm="px-1 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">

            <div #zoomViewer fxShow="false" fxShow.gt-md>
                <mat-card *ngIf="zoomImage" class="zoom-viewer mat-elevation-z18" [ngStyle]="{'background-image': 'url(' + zoomImage + ')'}"></mat-card>
            </div>

            <h3 class="fw-500 py-1">{{ deal.short_description }}</h3>
            <div class=" lh">
                <p><span class="text-muted fw-500">Categoría: </span><span>{{ ( appService.Data.categories | filterById
                        : product?.categoryId )?.name }}</span></p>
                <!-- <p><span class="text-muted fw-500">Availibility: </span><span>{{ (deal.deal_total_limit > 0) ? 'In stock':'Unavailable'}}</span></p>-->
            </div>
            <div fxLayoutAlign="start">
                <app-rating [ratingsCount]="4" [ratingsValue]="350" [direction]="'column'"></app-rating>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <h1>{{ selected.discount }}%</h1>
                <h4 class="text-muted p-1">De descuento en esta <br> promoción</h4>
            </div>

            <div class="divider"></div>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted py-1">
                <button mat-button>
                    <mat-icon>share</mat-icon> Compartir
                </button>
                <button mat-icon-button><img class="rrss" src="assets/images/iconsPA/gmail.jpg"></button>
                <button mat-icon-button><img class="rrss" src="assets/images/iconsPA/facebook-color.png"></button>
                <button mat-icon-button><img class="rrss" src="assets/images/iconsPA/twitter-color.png"></button>
                <button mat-icon-button><img class="rrss" src="assets/images/iconsPA/instagram-color.png"></button>
            </div>

        </div>
    </div>

    <div fxLayout="row wrap" class="mt-2">
        <div fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
            <mat-card>
                <mat-tab-group [@.disabled]="true" [selectedIndex]="0" color="accent">
                    <mat-tab label="Descripción">
                        <div class="full-desc lh">
                            {{ deal.long_description }}
                            <ul class="px-2 mt-1">
                            </ul>
                        </div>
                    </mat-tab>
                    <mat-tab label="Restricciones">
                        <div class="full-desc lh">
                            {{ deal.restrictions }}
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
        <!--   
  <div fxFlex="100" fxFlex.gt-md="22" fxFlex.md="26" ngClass.gt-sm="pl-3" fxHide fxShow.gt-sm>
      <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%201" alt="" class="mw-100 d-block">
      <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%202" alt="" class="mw-100 d-block mt-3">
      <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%203" alt="" class="mw-100 d-block mt-3">
  </div>
-->
    </div>
</div>
<div class="py-2 mt-2">
    <h2>Related Products</h2>
    <div class="divider"></div>
    <app-products-carousel [products]="relatedProducts"></app-products-carousel>
</div>