<div class="row">
    <div class="col-lg-12">

      <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
        <p class="alert-title"><b>¡Lo sentimos!</b></p>
        <ul class="alert-message-list">
          <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
        </ul>
      </nb-alert>
  
      <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
        <p class="alert-title"><b>¡Felicidades!</b></p>
        <ul class="alert-message-list">
          <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
        </ul>
      </nb-alert>

        <nb-card>
            <nb-card-header>Nueva plataforma de pago</nb-card-header>
            <nb-card-body>

                <form (ngSubmit)="createPlatform()" [formGroup]="platformForm">

                    <div fxLayout="row" fxLayout.xs="column">
                        <div class="form-control-group" fullWidth fxFlex="50%">
                            <label class="label" for="input-name">Nombre</label>
                            <input nbInput fullWidth formControlName="name" placeholder="Nombre" name="name" #name
                                [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : ''" required minlength="3"
                                maxlength="20" [attr.aria-invalid]="name.invalid && name.touched ? true : null">
                            <ng-container *ngIf="name.invalid && name.touched">
                                <p class="caption status-danger" *ngIf="name.errors?.required">
                                    Nombre es requerido.
                                </p>
                                <p class="caption status-danger" *ngIf="name.errors?.minlength || name.errors?.maxlength">
                                    El nombre debe contener de
                                    a
                                    caracteres
                                </p>
                            </ng-container>
                        </div>
                        <div class="form-control-group" fullWidth fxFlex="50%">
                            <label class="label" for="input-description">Descripción</label>
                            <input nbInput fullWidth formControlName="description" placeholder="Descripción" name="description">
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column">
                        <div class="form-control-group" fxFlex="50%">
                            <label class="label" for="input-avatarFileName">Imagen</label>
                            <input nbInput type="file" fullWidth #fileInput placeholder="Imagen" name="avatar_file_name"
                                accept=".png, .jpg, .jpeg" (change)="uploadFile($event)">
                        </div>
                        <div class="form-control-group" fxLayout="column" fxFlex="50%">
                            <label class="label" for="input-status">Status</label>
                            <nb-select placeholder="status" formControlName="status">
                                <nb-option *ngFor="let type of statusType; let i=index" value="{{ i }}">{{
                                    statusType[i] }}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="col-lg-12 text-right">
                        <button nbButton status="primary" [class.btn-pulse]="submitted">Guardar
                            Usuario</button>
                    </div>

                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>