<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-header>
      <div class="row">
            <div class="col-md-6">
                <h6>EDITAR OFERTA</h6>
            </div>
            <div class="col-md-6 text-right">
                <button nbButton (click)="enableEdit()">Editar
                    <nb-icon icon="edit-2-outline"></nb-icon>
                </button>
            </div>
      </div>
    </nb-card-header>

  <nb-card-body>
  <form (ngSubmit)="editDeal()"  [formGroup]="editForm" >
      <nb-stepper orientation="horizontal">
        <nb-step label="Descripción">
            <div class="row">
              <div class="col-lg-12">
                <!-- form-group -->
                <div class="form-group">
                  <label class="label" for="input-email">Título Corto:</label>
                  <input type="text" nbInput fullWidth formControlName="short_title" placeholder="{{ deal.short_title }}" name="short_title">
                  <div *ngIf="f.short_title.errors && submitted" class="alert alert-danger" role="alert" style="margin:5px;">                  
                    <div *ngIf="f.short_title.errors.required">El título corto es requerido</div>
                  </div>
                </div>
                <!-- form-group -->
                <div class="form-group">
                  <label class="label" for="input-email">Titulo Largo:</label>
                  <input type="text" nbInput fullWidth placeholder="{{ deal.long_title }}" name="long_title" formControlName="long_title">
                  <div *ngIf="f.long_title.errors && submitted" class="alert alert-danger" role="alert" style="margin:5px;">
                    <div *ngIf="f.long_title.errors.required">El título largo es requerido</div>
                  </div>
                </div>
                <!-- form-group -->
                <div class="form-group">
                  <label class="label" for="input-email">Titulo de Regalo:</label>
                  <input type="text" nbInput fullWidth placeholder="{{ deal.gift_title }}" name="gift_title" formControlName="gift_title">
                  <div *ngIf="f.gift_title.errors && submitted" class="alert alert-danger" role="alert" style="margin:5px;">
                    <div *ngIf="f.gift_title.errors.required">El título largo es requerido</div>
                  </div>
                </div>
                <!-- form-group -->
                <div class="form-group">
                  <label class="label" for="input-email">Descripción Corta:</label>
                  <input type="text" nbInput fullWidth placeholder="{{ deal.short_description }}" name="short_description"  formControlName="short_description">
                  <div *ngIf="f.short_description.errors && submitted" class="alert alert-danger" role="alert" style="margin:5px;">
                    <div *ngIf="f.short_description.errors.required">La descripción corta es requerida</div>
                  </div>
                </div>
                <!-- form-group -->
                <div class="form-group">
                  <label class="label" for="input-email">Descripcion Larga:</label>
                  <div *ngIf="ckEditorReadOnly">                  
                    <ckeditor [config]="{ extraPlugins: 'divarea', height: '200',readOnly:true }"  name="long_description" formControlName="long_description" ></ckeditor>
                    <label class="label" for="input-email">Restricciones:</label>
                    <ckeditor [config]="{ extraPlugins: 'divarea', height: '200',readOnly:true }" name="restrictions" formControlName="restrictions"    ></ckeditor>
                  </div>
                  <div *ngIf="!ckEditorReadOnly">                  
                    <ckeditor [config]="{ extraPlugins: 'divarea', height: '200',readOnly:false }"  name="long_description" formControlName="long_description" ></ckeditor>
                    <label class="label" for="input-email">Restricciones:</label>
                    <ckeditor [config]="{ extraPlugins: 'divarea', height: '200',readOnly:false }" name="restrictions" formControlName="restrictions"    ></ckeditor>
                  </div>
                  <div *ngIf="f.restrictions.errors && submitted" class="alert alert-danger" role="alert" style="margin:5px;">
                    <div *ngIf="f.restrictions.errors.required">Las restricciones son requeridas</div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="text-center p-2">
              <button nbButton disabled nbStepperNext>Anterior</button>
              <button nbButton nbStepperNext>Siguiente</button>
            </div>
        </nb-step>
        <nb-step label="Especificación">
            <div class="row">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="label" for="input-name">Comercio:</label>
                        <nb-select  placeholder="Comercio" fullWidth formControlName="commerce_id">
                            <nb-option value='{{comerce.id}}' *ngFor='let comerce of comerces'>{{comerce.name}}</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="label" for="input-name">Categoria:</label>
                        <nb-select  placeholder="Categoria" fullWidth formControlName="category_id">
                            <nb-option value='{{category.id}}'  *ngFor='let category of categorys'>{{category.title}}</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="label" for="input-name">Compañia:</label>
                        <nb-select  placeholder="Compañia" fullWidth formControlName="company_id">
                            <nb-option value='{{company.id}}'  *ngFor='let company of companys'>{{company.business_name}}</nb-option>
                        </nb-select>
                    </div>
               
                </div>              


               
                <div class="col-lg-12">            
    
                <div class="full-name-inputs">              
                  <div class="form-group">
                    <label class="label" for="input-date">Fecha Inicio:</label>
                    <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" [(ngModel)]="effectiveDateSelected" placeholder="Fecha Inicio" nbInput fullWidth formControlName="effective_date">
                    <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
                    <owl-date-time #dt2 pickerMode="dialog"></owl-date-time>
                  </div>

             
    
                  <div class="form-group">
                    <label class="label" for="input-date">Fecha Final:</label>
                    <input [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" [(ngModel)]="closingDateSelected"  placeholder="Fecha Final" nbInput fullWidth formControlName="closing_date">
                    <span [owlDateTimeTrigger]="dt3"><i class="fa fa-calendar"></i></span>
                    <owl-date-time #dt3 pickerMode="dialog" ></owl-date-time>
                    
                  </div>

                  <div class="form-group">
                      <label class="label" for="input-date">Fecha limite:</label>
                      <input [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" [(ngModel)]="availableUntilSelected" placeholder="Fecha limite" nbInput fullWidth formControlName="available_until">
                      <span [owlDateTimeTrigger]="dt4"><i class="fa fa-calendar"></i></span>
                      <owl-date-time #dt4 pickerMode="dialog" ></owl-date-time>
                    
                  </div>
                </div>
    
                <div class="full-name-inputs">                  
                    <div class="form-group">
                      <label class="label" for="input-email">Comision de Venta:</label>
                      <input type="text" nbInput fullWidth placeholder="Comision de Venta" formControlName="commission">
                    </div>

                    <div class="form-group">
                        <label class="label" for="input-name">Publica:</label>
                        <nb-select  placeholder="Publica"  fullWidth formControlName="is_public">
                            <nb-option value="0">No</nb-option>
                            <nb-option value="1">Si</nb-option>
                          </nb-select>
                    </div>

                    <div class="form-group">
                        <label class="label" for="input-name">Tipo de Pago:</label>
                        <nb-select  placeholder="Seleccione el tipo de pago"  fullWidth formControlName="payment_type">
                            <nb-option value="0">TDC</nb-option>
                            <nb-option value="1">Credito</nb-option>
                            <nb-option value="2">Ambas</nb-option>
                          </nb-select>
                    </div>

                    <div class="form-group" >
                        <label class="label" for="input-name">Tipo:</label>
                        <nb-select placeholder="Seleccione el tipo" fullWidth formControlName="deal_type_id">
                             <nb-option value='{{type.id}}'  *ngFor='let type of types' >{{type.name}} </nb-option>
                        </nb-select>
                    </div>

                 </div>
                
           
                </div>
              </div>
            <div class="text-center p-2">
              
              <button nbButton nbStepperPrevious>Anterior</button>
              <button nbButton nbStepperNext>Siguiente</button>
            </div>
        </nb-step>

        <nb-step label="Imagen">
            <div class="form-group">
                <label class="label" for="input-email">Imagen de la Oferta:</label>
                <input type="file" nbInput fullWidth (change)="fileProgress($event)">
              </div>
              <nb-alert outline="danger" role="alert" id="file-errors" style="display:none;"></nb-alert>          
              <div class="text-center p-2">
                  <button nbButton status="primary"  id="save-btn">Guardar</button>
              </div>
        </nb-step>
     
      </nb-stepper>
    </form>  
    </nb-card-body>
</nb-card>

