<nb-card>
  <nb-card-header>
    <div class="row">
        <div class="col-md-6">
          <h6>Ofertas</h6>
        </div>
        <div class="col-md-6 text-right">
            <a routerLink="/pages/admin-deal/deals" routerLinkActive="active-link" nbButton status="primary">Nueva Oferta</a>
        </div>
    </div>
  </nb-card-header>
      <nb-card-body>
          <mat-form-field *ngIf="dealsList.length > 0 ">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar.. ">
            </mat-form-field>
            
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>                   
                <ng-container matColumnDef="img">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
                  <td mat-cell *matCellDef="let row"> <img class="deal-img" src="assets/images/dealimg.png" /></td>
                </ng-container>
      
                <!-- Progress Column -->
                <ng-container matColumnDef="short_title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción Corta </th>
                  <td mat-cell *matCellDef="let row" class="description"> {{row.short_title}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="effective_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Inicio </th>
                  <td mat-cell *matCellDef="let row"> {{row.effective_date}} </td>
                </ng-container>
            
                <!-- Color Column -->
                <ng-container matColumnDef="is_public">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Publica </th>
                  <td mat-cell *matCellDef="let row"> {{row.is_public}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                      <button class="btn-sb" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item >
                          <mat-icon>remove_red_eye</mat-icon>
                          <span>Ver</span>
                        </button>
                        <button mat-menu-item >
                          <mat-icon>edit</mat-icon>
                          <span>Editar</span>
                        </button>
                        <button mat-menu-item >
                          <mat-icon>delete</mat-icon>
                          <span>Borrar</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
              <mat-paginator itemsPerPageLabel="Ver por página" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
      </nb-card-body>   

</nb-card>
