$font-family: Roboto, sans-serif;
$theme-max-width: 1000px;

/* For use in src/lib/core/theming/_palette.scss */
$mat-greyPA: (
    50 : #fefefe,
    100 : #fcfcfc,
    200 : #fbfbfb,
    300 : #f9f9f9,
    400 : #f7f7f7,
    500 : #f6f6f6,
    600 : #f5f5f5,
    700 : #f3f3f3,
    800 : #f2f2f2,
    900 : #efefef,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$mat-greyPA-2: (
    50 : #fcfcfc,
    100 : #f9f8f7,
    200 : #f5f4f2,
    300 : #f0f0ed,
    400 : #edece9,
    500 : #eae9e5,
    600 : #e7e6e2,
    700 : #e4e3de,
    800 : #e1dfda,
    900 : #dbd9d3,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-redPA: (
    50 : #fae6e6,
    100 : #f2c1c0,
    200 : #e99797,
    300 : #e06d6d,
    400 : #da4e4d,
    500 : #d32f2e,
    600 : #fd6600,
    700 : #c82323,
    800 : #c21d1d,
    900 : #b71212,
    A100 : #ffe7e7,
    A200 : #ffb4b4,
    A400 : #ff8181,
    A700 : #ff6868,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-orangeAdd: (
    50 : #ffede0,
    100 : #fed1b3,
    200 : #feb380,
    300 : #fe944d,
    400 : #fd7d26,
    500 : #fd6600,
    600 : #fd5e00,
    700 : #fc5300,
    800 : #fc4900,
    900 : #fc3800,
    A100 : #ffffff,
    A200 : #fff1ef,
    A400 : #ffc7bc,
    A700 : #ffb1a2,

    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

