<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Nueva Compañia</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth placeholder="Nombre del negocio">
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth placeholder="DNI">
          <input type="email" nbInput fullWidth placeholder="Email">
        </div>
        <input type="text" nbInput fullWidth placeholder="Dirección">
        <input type="text" nbInput fullWidth placeholder="Telefono">
        <textarea rows="2" nbInput fullWidth  placeholder="Descripción"></textarea>
        <input type="file" nbInput fullWidth placeholder="Telefono">
        <nb-select placeholder="Selecione Usuario" fullWidth >
          <nb-option value="">Option empty</nb-option>
          <nb-option value="0">Option 0</nb-option>
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>
       
        <div class="col-lg-12 text-right">
          <button nbButton status="primary"> Guardar Compañía</button>
        </div>
        
      </nb-card-body>
      
    </nb-card>
  </div>
</div>
