<!--
<div class="mat-table orders-table">
    <div class="mat-header-row">
      <div class="mat-header-cell">Order</div>
      <div class="mat-header-cell">Date</div>
      <div class="mat-header-cell">Status</div>
      <div class="mat-header-cell">Total</div>
      <div class="mat-header-cell"></div>
    </div>
    <div *ngFor="let order of orders" class="mat-row">
      <div class="mat-cell"><span class="order">{{order.number}}</span></div>
      <div class="mat-cell">{{order.date}}</div>
      <div class="mat-cell">{{order.status}}</div>
      <div class="mat-cell">{{order.total}}</div>     
      <div class="mat-cell">
        <div class="p-1 actions">          
          <button mat-mini-fab color="primary" matTooltip="View">
              <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button *ngIf="order.invoice" mat-mini-fab color="warn" matTooltip="View invoice" class="btn-invoice">
              <mat-icon>receipt</mat-icon>
          </button>
        </div>
      </div>      
    </div>
  </div>
-->
<mat-form-field>
  <!--*ngIf="orderList.length > 0 "-->
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar.. ">
</mat-form-field>
<!--
<div class="mat-elevation-z8" *ngIf="orderList.length > 0 ">-->
<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Orden </th>
      <td mat-cell *matCellDef="let row"> {{row.order}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td mat-cell *matCellDef="let row"> {{row.date}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <!-- Deal Column -->
    <ng-container matColumnDef="deal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Oferta </th>
      <td mat-cell *matCellDef="let row"> {{row.deal}} </td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
      <td mat-cell *matCellDef="let row"> {{row.total}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let row"> 
       <a mat-icon-button> <i class="material-icons">visibility</i> </a>
       <a> <i class="material-icons">edit</i> </a>
       <a><i class="material-icons">delete</i> </a> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator itemsPerPageLabel="Ver por página" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>