

:host ::ng-deep ng2-smart-table table tr th a{
  font-weight: 700 !important;
}

:host ::ng-deep ng2-smart-table table tr th{
  font-weight: 700 !important;
}

.nb-theme-default {
  font-size: 0.80rem;
}

table{
  width: 100%;
}