<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header>Nueva Oferta</nb-card-header>

  <form [formGroup]="dealForm" >
  <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step label="Descripción">
            <div class="row">
              <div class="col-lg-12">
                <label class="label" for="input-email">Titulo Corto:</label>
                <input type="text" nbInput fullWidth placeholder="Titulo corto" formControlName="short_title">
                <label class="label" for="input-email">Titulo Largo:</label>
                <input type="text" nbInput fullWidth placeholder="Titulo largo" formControlName="long_title">
                <label class="label" for="input-email">Titulo de Regalo:</label>
                <input type="text" nbInput fullWidth placeholder="Titulo de Regalo" formControlName="gift_title">
                <label class="label" for="input-email">Descripción Corta:</label>
                <input type="text" nbInput fullWidth placeholder="Descripcion corta" formControlName="short_description">
                <label class="label" for="input-email">Descripcion Larga:</label>
                <ckeditor [config]="{ extraPlugins: 'divarea', height: '200' }" formControlName="long_description" ></ckeditor>
                <label class="label" for="input-email">Restricciones:</label>
                <ckeditor [config]="{ extraPlugins: 'divarea', height: '200' }" formControlName="restrictions"   ></ckeditor>
              </div>
            </div>
            
            <div class="text-center p-2">
              <button nbButton disabled nbStepperNext>Anterior</button>
              <button nbButton nbStepperNext>Siguiente</button>
            </div>
        </nb-step>
        <nb-step label="Especificación">
            <div class="row">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="label" for="input-name">Comercio:</label>
                        <nb-select placeholder="Comercio" fullWidth formControlName="commerce_id">
                            <nb-option value='{{comerce.id}}' *ngFor='let comerce of comerces'>{{comerce.name}}</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="label" for="input-name">Categoria:</label>
                        <nb-select placeholder="Categoria" fullWidth formControlName="category_id">
                            <nb-option value='{{category.id}}'  *ngFor='let category of categorys'>{{category.title}}</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="label" for="input-name">Compañia:</label>
                        <nb-select placeholder="Compañia" fullWidth formControlName="company_id">
                            <nb-option value='{{company.id}}'  *ngFor='let company of companys'>{{company.business_name}}</nb-option>
                        </nb-select>
                    </div>
               
                </div>              


               
                <div class="col-lg-12">            
    
                <div class="full-name-inputs">              
                  <div class="form-group">
                    <label class="label" for="input-date">Fecha Inicio:</label>
                    <input [owlDateTime]="dt2" placeholder="Fecha Inicio" nbInput formControlName="effective_date">
                    <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
                    <owl-date-time #dt2 pickerMode="dialog"></owl-date-time>
                  </div>

             
    
                  <div class="form-group">
                    <label class="label" for="input-date">Fecha Final:</label>
                    <input [owlDateTime]="dt3" placeholder="Fecha Final" nbInput formControlName="closing_date">
                    <span [owlDateTimeTrigger]="dt3"><i class="fa fa-calendar"></i></span>
                    <owl-date-time #dt3 pickerMode="dialog" ></owl-date-time>
                    
                  </div>

                  <div class="form-group">
                      <label class="label" for="input-date">Fecha limite:</label>
                      <input [owlDateTime]="dt4" placeholder="Fecha limite" nbInput formControlName="available_until">
                      <span [owlDateTimeTrigger]="dt4"><i class="fa fa-calendar"></i></span>
                      <owl-date-time #dt4 pickerMode="dialog" ></owl-date-time>
                    
                  </div>
                </div>
    
                <div class="full-name-inputs">                  
                    <div class="form-group">
                      <label class="label" for="input-email">Comision de Venta:</label>
                      <input type="text" nbInput fullWidth placeholder="Comision de Venta" formControlName="commission">
                    </div>

                    <div class="form-group">
                        <label class="label" for="input-name">Publica:</label>
                        <nb-select placeholder="Publica"  fullWidth formControlName="is_public">
                            <nb-option value="0">No</nb-option>
                            <nb-option value="1">Si</nb-option>
                          </nb-select>
                    </div>

                    <div class="form-group">
                        <label class="label" for="input-name">Tipo de Pago:</label>
                        <nb-select placeholder="Publica"  fullWidth formControlName="payment_type">
                            <nb-option value="0">TDC</nb-option>
                            <nb-option value="1">Credito</nb-option>
                            <nb-option value="2">Ambas</nb-option>
                          </nb-select>
                    </div>

                    <div class="form-group">
                        <label class="label" for="input-name">Tipo :</label>
                        <nb-select placeholder="Seleccione Tipo"  fullWidth formControlName="deal_type_id">
                            <nb-option value="0">Oferta</nb-option>
                            <nb-option value="1">Promocion</nb-option>                            
                          </nb-select>
                    </div>

                 </div>
                
           
                </div>
              </div>
    
          <button nbButton nbStepperPrevious>Anterior</button>
          <button nbButton nbStepperNext>Siguiente</button>
        </nb-step>

        <nb-step label="Imagen">
            <div class="form-group">
                <label class="label" for="input-email">Imagen de la Oferta:</label>
                <input type="file" nbInput fullWidth formControlName="avatar">
              </div>
          
              <div class="text-center p-2">
                  <button nbButton (click)="getValues()" >Guardar</button>
              </div>
        </nb-step>
     
      </nb-stepper>
    </nb-card-body>
    </form>  
</nb-card>

