.title{
    font-size: 2em;
    color: #484848;
}

.strong{
    border-top: 2px solid rgba(0, 0, 0, 0.6) !important;
}

.text-muted{
    text-decoration: line-through;
}

.new-price{
    font-size: 1.5em;
    font-weight: 600;
}

.div-margin{
    margin: 0 -16px 16px -16px;
}

.more{
    color: #d32f2e;
    text-decoration: none;
    &:hover{
        color: #000000;
        text-decoration: underline;
    }
}
    
.payment{
    .title-payment{
        //background-color: #26b1c9;
        //border-radius: 5px;
        padding: 10px 0px;
        color: #484848;
        font-size: 2em;
    }
    .add{
        color: #26c95a;
        background-color: white;
        font-size: 20px;
    }
    .delete-icon{
        color: #d32f2e;
        background-color: white;
        font-size: 20px;
    }
    .card-number{
        font-size: smaller;
    }
    .card-name{
        font-weight: 700;
    }
    .card-icon{
        width: 60px;
        padding: 5px;
    }
}
mat-list{
    padding-top: 15px !important;

}
mat-list-item{
    height: 20px !important;
}
    
mat-error{
    color: #d32f2e !important;
}
input::placeholder{
    color: #d32f2e !important;
}
    
:host ::ng-deep .mat-form-field-invalid .mat-input-element{
    caret-color: #d32f2e !important;
    
}

:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label{
    color: #d32f2e !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple{
    background-color: #d32f2e !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker{
    color: #d32f2e !important;
}

.mat-menu-item{
    width: auto !important;
}