.container{
    //max-width: 1200px;

}
.main-slider{ 
    height: 500px;
    //margin-top: 14px;
    .slide-item{
        height: 100%;
        background-size: cover;
        background-position: center;
        .content{
            height: 100%;
            position: relative;
            z-index: 9;
            h1{
                font-size: 48px;
                text-align: center;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
            h3{
                font-size: 36px;
                text-align: center;
                color: #fff;
                margin-bottom: 30px;
                font-weight: 300;
                letter-spacing: 2px;
            }
        }
        .mask{
            opacity: 0.6;
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            z-index: 0;
            background-color: rgba(0,0,0,0.8);
        }
    }
    .swiper-lazy-preloader{
        top: 18%;
    }
}
input{
    ::placeholder{
        color: #000000 !important;
    }
}
:host /deep/ .swiper-pagination{
    text-align: end !important;
}

.swiper-container{
    top: -37px;
}

.top-menu{
    z-index: 1000 !important;
    color: #ffffff;
    /*
    a{
        top: 15px;
    }*/
}
.sidenav-toggle{
    z-index: 1000 !important;
    color: #ffffff;
    mat-icon{
        color: #ffffff;
    }
}

.cont-label{
    display: block;  
    //position: absolute;
}

.logo-img{
    width: 200px;
    //height: 70px;
    //top: 7px;
    //left: 70px;
    z-index: 1000 !important;
    position: absolute;
    display: block;
}
i{
    font-size: 50px;
    color: #ffffff;
}

.label-width{
    width: 250px;
}

.label-text{
    color: #ffffff; 
    text-align: center;
    padding-bottom: 10px !important;
}

.square, .square-pink{
    width: 100%;
    height: 300px;
    background-color: blue;
    border-style: solid;
    border-color: #000000;
}

.square-pink{
    background-color: chocolate !important;
}

/*
.img-container{
    position: relative;
    height: fit-content;//400px;
    width: 60%;
    flex-wrap: wrap;

    .img-oferta{
        height: 92mm;
        width: 100%;
        z-index: 1;
        //padding-top: 50px;
    }
    .cont-label{ 
       .img-label{
            z-index: 2;
            right: 5%;//11%;
            width: 20%;//11%;  
            top: -3.5%; //-3.3%  
    }}
}

*/
@media (max-width: 575px) { 
    .main-slider{ 
        height: 280px;
        .slide-item .content {
            h1{
                font-size: 24px;
                letter-spacing: 3px;
            }
            h3{
                font-size: 18px;
                margin-bottom: 10px;
                letter-spacing: 2px;
            }
        } 
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .main-slider{ 
        height: 320px;
        .slide-item .content {
            h1{
                font-size: 36px;
                letter-spacing: 3px; 
            }
            h3{
                font-size: 24px;
                margin-bottom: 20px;
                letter-spacing: 2px;
            }
        } 
    }
}